/* ===================================================================
   STATIC TEXT WIDGETS
   =================================================================== */

Static {
    background: transparent;
    color: $text;
}

